[submodule "backend"]
	path = backend
	url = git@github.com:coachpo/cockpit-backend.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = git@github.com:coachpo/cockpit-frontend.git
	branch = main
